<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zq.mapper.AdminMapper">

    <resultMap type="com.zq.bean.Admin" id="adminMap">
        <id property="name" column="name"/>
        <result property="pwd" column="pwd"/>
    </resultMap>

    <select id="selectAdmin" resultMap="adminMap">
        select * from admin;
    </select>

</mapper>